@model IEnumerable<ClientAgentTargetMvc.Dto.NewMissionDto>

@{
    ViewData["Title"] = "Dash";
}

<h1>Dash</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionCompletedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionCompletedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Zivot", "Zivot", new { id = item.Id })

            </td>
        </tr>
}
    </tbody>
</table>
